@model Library.Web.Models.EntityModels.LoanViewModel
@{
    ViewBag.Title = "Imprumut Carte";
    Layout = "../Shared/_Layout.cshtml";
}


<h4>Imprumut Carte</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertLoan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>Date Cititor</p>
            <div class="form-group">
                <label asp-for="CITITOR.Nume" class="control-label"></label>
                <input asp-for="CITITOR.Nume" class="form-control" />
                <span asp-validation-for="CITITOR.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CITITOR.Prenume" class="control-label"></label>
                <input asp-for="CITITOR.Prenume" class="form-control" />
                <span asp-validation-for="CITITOR.Prenume" class="text-danger"></span>
            </div>
            <p>Date Carte</p>
            <div class="form-group">
                <label asp-for="CARTE.Titlu" class="control-label"></label>
                <input asp-for="CARTE.Titlu" class="form-control" />
                <span asp-validation-for="CARTE.Titlu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Insert Loan" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

